@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

:root {
  --r-heading-text-transform: none;
}

::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}

::-webkit-scrollbar-thumb {
  min-width: 6px;
  min-height: 6px;
  background-color: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bcc1cc;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 5px;
}